﻿doctype html
html(lang="en")
	head
		title= pageTitle
    
		script(src='../../node_modules/jquery/dist/jquery.js')
		script(src='../../node_modules/materialize-css/dist/js/materialize.js')  
		script(src='../../node_modules/google-closure-library/closure/goog/base.js')
		script.
			goog.require('goog.ui.ac')
		link(href='../../node_modules/materialize-css/dist/css/materialize.css',rel="stylesheet",type="text/css")
		link(href='../../node_modules/google-closure-library/closure/goog/css/autocomplete.css',rel="stylesheet",type="text/css")
	body
		h4.
			Materialize-css autocomplete implemented using Google closure library
		div(class="input-field")
			input(type="text",id="testField")
			label(for="testField") Test widget.
		script(type="text/javascript").
			var tcMovies = ["Mission Impossible", "Top Gun","Jerry McGuire","Rain Man","Days of Thunder", "Risky Business"];
			var ac1 = goog.ui.ac.createSimpleAutoComplete(tcMovies, document.getElementById('testField'), false);
