﻿doctype html
html(lang="en")
	head
		title= pageTitle
		meta(name="language", content="en-us").
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8").
		meta(name="description", content="").
		meta(name="keywords", content="").
		meta(name="classification", content="").
		meta(name="distribution", content="Global").
		meta(name="rating", content="General" ).
		meta(name="robots", content="index, follow").
		meta(name="revisit-after" ,content="21 days").
		meta(name="creator", content="" ).
		meta(name="publisher", content="").
    
		script(src='../../node_modules/jquery/dist/jquery.js')
		script(src='../../node_modules/materialize-css/dist/js/materialize.js')  
		script(src='../../node_modules/google-closure-library/closure/goog/base.js')
		script.
			goog.require('goog.ui.ac')
		link(href='../../node_modules/materialize-css/dist/css/materialize.css',rel="stylesheet",type="text/css")
		link(href='../../node_modules/google-closure-library/closure/goog/css/autocomplete.css',rel="stylesheet",type="text/css")
	body
		h4.
			Sample page to get started with
